.navbar {
  background-color: transparent !important;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.column-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .navbar-left {
    margin-left: 2rem;
  }
  .navbar-right {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }
  .profile-icon {
    padding-left: 0.6rem;
  }
  .navbar-left p,
  .navbar-right p {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.625rem;
  }
  .navbar-left p {
    text-transform: uppercase;
  }
}
