/* You can add global styles to this file, and also import other style files */
@import url("https://css.gg/menu-grid-o.css");
@import url("https://css.gg/trash.css");
@import url("https://css.gg/zoom-in.css");
@import url("https://css.gg/profile.css");
@import url("https://css.gg/shopping-cart.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.product-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;

  .panel-layout {
    margin-bottom: 15px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  background-color: #f4f3ef;
}
.efdt-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);

  .efdt-card-header {
    padding: 15px 15px 0;
  }
  .efdt-card-body {
    padding: 15px 15px 15px;
  }
}
div.container {
  margin: 0;
  max-width: 100%;
}
.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: #606c76 !important;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
.underline {
  text-decoration: underline;
}
h3,
.mat-typography h3 {
  margin: 0 !important;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-size: 2.8rem;
  line-height: 1.3;
}
