<div class="container">
  <div class="row">
    <div class="column column-50">
      <div class="efdt-card">
        <div class="efdt-card-header">
          <h3 *ngIf="isAddMode">Add new product</h3>
          <h3 *ngIf="!isAddMode">View product n.{{ id }}</h3>
        </div>
        <div class="efdt-card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset>
              <div>
                <label for="title">Title</label>
                <input formControlName="title" id="title" type="text" />
                <span
                  class="input-error"
                  *ngIf="
                    this.controls.title.touched &&
                    this.controls.title.hasError('required')
                  "
                >
                  Title is required
                </span>
              </div>
              <div>
                <label for="category">Category</label>
                <input formControlName="category" id="category" type="text" />
                <span
                  class="input-error"
                  *ngIf="
                    this.controls.category.touched &&
                    this.controls.category.hasError('required')
                  "
                >
                  Category is required
                </span>
              </div>
              <div>
                <label for="price">Price</label>
                <input formControlName="price" id="price" type="number" />
                <span
                  class="input-error"
                  *ngIf="
                    this.controls.price.touched &&
                    this.controls.price.hasError('required')
                  "
                >
                  Price is required
                </span>
              </div>
              <div>
                <label for="employee">Employee</label>
                <input formControlName="employee" id="employee" type="text" />
                <span
                  class="input-error"
                  *ngIf="
                    this.controls.employee.touched &&
                    this.controls.employee.hasError('required')
                  "
                >
                  Employee is required
                </span>
              </div>
              <div>
                <label for="description">Description</label>
                <input
                  formControlName="description"
                  id="description"
                  type="text"
                />
                <span
                  class="input-error"
                  *ngIf="
                    this.controls.description.touched &&
                    this.controls.description.hasError('required')
                  "
                >
                  Description is required
                </span>
              </div>
              <div
                class="form-group submit-button"
                *ngIf="this.isAddMode; else viewMode"
              >
                <input
                  [disabled]="!form.valid"
                  class="button-primary"
                  type="submit"
                  value="Save"
                />
                <input
                  routerLink="/products"
                  class="button button-outline"
                  type="submit"
                  value="Cancel"
                />
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #viewMode>
  <div class="form-group back-button">
    <input
      routerLink="/products"
      class="button button-outline"
      type="submit"
      value="Back"
    />
  </div>
</ng-template>
