<div class="efdt-sidebar">
  <div class="efdt-sidebar-wrapper">
    <div class="efdt-sidebar-logo">
      <p>dashboard</p>
    </div>
    <ul class="efdt-sidebar-nav" *ngFor="let path of routes">
      <li>
        <a
          [routerLink]="['/' + path]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="shopping-cart-icon" (click)="deleteProduct(gProduct.id)">
            <i class="gg-shopping-cart"></i
          ></span>
          <p>{{ path }}</p></a
        >
      </li>
    </ul>
  </div>
</div>
