<div class="container">
  <div class="row">
    <div class="column column-60">
      <div class="card">
        <div class="card-header">
          <button class="button button-default" (click)="changeLayout()">
            Change layout
          </button>
          <button class="button button-default" routerLink="add">
            Add new Product
          </button>
        </div>
        <div class="card-body">
          <div
            class="parent"
            [ngClass]="{
              'grid-container': isGridLayout,
              'product-list': !isGridLayout
            }"
          >
            <ng-container *ngFor="let product of pagedItems">
              <ng-container
                [ngTemplateOutlet]="isGridLayout ? gridLayout : panelLayout"
                [ngTemplateOutletContext]="{ product: product }"
              ></ng-container>
            </ng-container>
          </div>
        </div>
        <div class="card-footer paginator">
          <div class="hq">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{ disabled: pager.currentPage === 1 }">
                <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{ disabled: pager.currentPage === 1 }">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li
                *ngFor="let page of pager.pages"
                [ngClass]="{ active: pager.currentPage === page }"
              >
                <a (click)="setPage(page)">{{ page }}</a>
              </li>
              <li
                [ngClass]="{
                  disabled: pager.currentPage === pager.totalPages
                }"
              >
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li
                [ngClass]="{
                  disabled: pager.currentPage === pager.totalPages
                }"
              >
                <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header">
          <h3>Products per category ratio</h3>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas
              baseChart
              [data]="polarAreaChartData"
              [labels]="polarAreaChartLabels"
              [legend]="polarAreaLegend"
              [chartType]="polarAreaChartType"
              [options]="chartOptions"
              [colors]="[]"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #gridLayout let-gProduct="product">
  <div class="grid-layout">
    <div class="grid-wrapper">
      <div class="grid-header">
        <div class="title">
          <p>{{ gProduct.data.title }}</p>
          <span class="category">
            <p>{{ gProduct.data.category }}</p>
          </span>
          <!--<span class="trash-icon" (click)="deleteProduct(gProduct.id)">
            <i class="gg-trash"></i
          ></span>
          <span class="zoom-in-icon" [routerLink]="[gProduct.id, 'view']"
            ><i class="gg-zoom-in"></i
          ></span>-->
        </div>
        <div class="description">
          <p>{{ gProduct.data.description }}</p>
        </div>
      </div>
      <div class="grid-footer">
        <div class="price">
          <p>Price: {{ gProduct.data.price }}</p>
        </div>
        <div class="employee">
          <p>Employee: {{ gProduct.data.employee }}</p>
        </div>
        <div class="review">
          <p>Review: {{ gProduct.data.review }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #panelLayout let-pProduct="product">
  <div class="panel-layout">
    <div class="panel-wrapper">
      <div class="panel-header">
        <div class="title">
          <p>{{ pProduct.data.title }}</p>
          <span class="category">
            <p>{{ pProduct.data.category }}</p>
          </span>
          <span class="trash-icon" (click)="deleteProduct(pProduct.id)">
            <i class="gg-trash"></i
          ></span>
          <span class="zoom-in-icon" [routerLink]="[pProduct.id, 'view']"
            ><i class="gg-zoom-in"></i
          ></span>
        </div>
        <div class="description">
          <p>{{ pProduct.data.description }}</p>
        </div>
      </div>
      <div class="panel-footer">
        <div class="price">
          <p>Price: {{ pProduct.data.price }}</p>
        </div>
        <div class="employee">
          <p>Employee: {{ pProduct.data.employee }}</p>
        </div>
        <div class="review">
          <p>Review: {{ pProduct.data.review }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
