.panel-layout,
.grid-layout {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
p {
  margin: 0;
  padding: 0;
}
.product-list {
  padding: 1px;
}
.trash-icon,
.zoom-in-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.trash-icon {
  right: 5px;
}
.zoom-in-icon {
  right: 40px;
}
.trash-icon:hover,
.zoom-in-icon:hover {
  cursor: pointer;
}
