.panel-layout,
.grid-layout {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.panel-layout:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(155, 77, 202, 0.8) 0px 0px 0px 1px;
}
.grid-layout:hover {
  border: 1px solid #9b4dca;
}
p {
  margin: 0;
  padding: 0;
}
.product-list {
  padding: 1px;
}
.trash-icon,
.zoom-in-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.trash-icon {
  right: 5px;
}
.zoom-in-icon {
  right: 40px;
}
.trash-icon:hover,
.zoom-in-icon:hover {
  cursor: pointer;
}
.panel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .panel-header {
    display: flex;
    flex-direction: column;
  }
  .description {
    margin-bottom: 1.6rem;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 55px;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    font-weight: bold;
    margin-bottom: 3rem;

    & > p:first-child {
      max-width: 84%;
    }
    & > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 65%;
      width: 100%;
    }
    span {
      max-width: 65%;
      width: 100%;
    }
    span p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .actionButtons .button-default {
    margin-right: 5px;
  }
  .category {
    font-weight: lighter;
    top: 1.9rem;
    position: absolute;

    p {
      font-size: 1.35rem;
      font-style: italic;
    }
  }
  .panel-footer {
    display: flex;
  }
  .price,
  .employee,
  .review {
    font-size: 14px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .price {
    width: calc(100%-80%);
    padding-left: 0;
  }
  .employee {
    flex: 0 0 40%;
  }
  .review {
    flex: 0 0 40%;
    padding-right: 0;
  }
  .price p,
  .employee p,
  .review p {
    font-size: 14px;
  }
}

.grid-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 10px;

  .grid-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .description {
    margin-bottom: 1.6rem;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 55px;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title {
    position: relative;
    font-weight: bold;
    margin-bottom: 3rem;
    max-width: 80%;
    margin: 0.2rem auto 3rem auto;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .category {
    font-weight: lighter;
    top: 1.9rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      font-size: 1.35rem;
      font-style: italic;
    }
  }
  .panel-footer {
    display: flex;
    flex-direction: column;
  }

  .actionButtons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }
  .price,
  .employee,
  .review {
    max-width: 80%;
    margin-left: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .review {
      margin-bottom: 1.5rem;
    }
  }
}
.efdt-card-header {
  .button {
    margin-right: 5px;
  }
}
.efdt-card-footer.paginator {
  padding: 0 15px 15px 15px;

  ul {
    padding: 0;
    margin: 0;
  }
}
.title > p:first-child {
  font-size: 16px;
}
